.App {
  font-family: 'Tahoma', sans-serif;
  text-align: center;
}


.header {
  font-size: 35px;
  background-color: #33648a;
  color: white;
  padding: 10px 10px;
}




.productCards {
  margin: 20px;
} 
